<!DOCTYPE html>

<html>
<head>
	<title>based.how @{{tag}}</title>
	{% include 'head.html' %}
</head>

<body>
	<a href="/">☚ back to title page</a>
	<div class="banner">
		<h1 class="gothic">⚚ search by tag ♔</h1>
		<h2>{{tag.capitalize()}}</h2>
		
		{% if description: %}
			<p><em>{{description}}</em></p>
		{% endif %}
		<hr>
	</div>
	
	<ul id="artlist">
		{% for article in articles %}
			<li>
				<a href='/articles/{{article}}'>
					{{article.capitalize().replace('_',' ')}}
				</a>
			</li>
		{% endfor %}
	</ul>
	
</body>

</html>