<link rel="icon" href="/static/favicon.png">
<meta charset="UTF-8">
<meta name="description" content="Simple tutorials for people desiring tradition and incapable of finding it.">
<meta name="keywords" content="based, arete, tutorial, guide">
<meta name="author" content="anon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">