<!DOCTYPE html>

<html>
<head>
	<title>based.how</title>
	{% include 'head.html' %}
</head>

<body>
	
	<div class="banner">
		<h1 class="gothic">⚚ How to be based, redpilled or arete ♔</h1>
		<hr>
	</div>
	
	<p>Only Based tutorials; no ads, no tracking.</p>
	<p>
	Prostrate yourself in front of the altar of truth and sacrifice your 
	arrogance to it.
	</p>
	<p>
		Source code: 
		<a href="https://gitlab.com/memetics_connected/based.how">server</a>, 
		<a href="https://gitlab.com/memetics_connected/articles.based.how">articles</a>.
	</p>
	<p id="taglist">All tags:
		{% for tag in tags %}
			<a href="/@{{tag}}">{{tag}}</a>
		{% endfor %}
	</p>
	
	<h2>Tutorials:</h2>
	<ul id="artlist">
		{% for article in articles %}
			<li>
				<a href='/articles/{{article}}'>
					{% if 'mirror_-_' in article %}
						{{article.replace('mirror_-_', '').capitalize().replace('_',' ') + ' 🔗'}}
					{% else %}
						{{article.capitalize().replace('_',' ')}}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
	
	<img class="bottom_right_icon" {{quote|safe}}>
	
</body>

</html>