
@font-face {
  font-family: gothic;
  src: url(DSFetteThannhaeuser.ttf);
}

.gothic{
	font-family: gothic;
	font-weight: normal;
}

h1 {
	text-align: center;
	font-size: 2em;
}
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
h2, h3, h4, h5, h6 {
	color: Maroon;
}

a {
	color: #D05050;
}
a:visited {
	color: Maroon;
}

html {
	background-image: url("/static/img/white-background.png");
	background-attachment: fixed;
	background-repeat: repeat;
}
body {
	font-family: Roboto, sans-serif;
	color: black;
	
	background: #fafafa;
	max-width: 800px;
	margin: auto;
	padding: 32px;
	margin-bottom: 500px;
	margin-top: 25px;
	box-shadow: 0px 0px 64px -16px;
}

#taglist a {
	background: rgba(0, 0, 0, 0.2);
	color: inherit;
	text-decoration: none;
	border-radius: 50px;
	padding: 2px 6px 2px 6px;
	display: inline-block;
	margin-top: 4px;
}

hr {
	border: 0;
    height: 7px;
    background-image: url("/static/img/separator.png");
    background-repeat: repeat-x;
    background-size: 8px 7px;
    overflow: hidden;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block;
	border: 1px solid grey;
}

img.bottom_right_icon{
	max-width: inherit;
	width: inherit;
	position: fixed;
	bottom: 0;
	right: 0;
	border: 0;
}

#artlist li {
	margin-top: 8px;
}

code {
	overflow-wrap: break-word;
	color: forestgreen;
}

pre code{
	display: inline-block;
	width: 100%;
	padding: 8px 8px 8px 8px;
	box-sizing: border-box;
	
	background: gainsboro;
	border-radius: 3px;
}

blockquote {
	border-left: 4px darkgray solid;
	padding-left: 8px;
	box-sizing: border-box;
}

textarea {
	font-family: monospace, monospace;
}
@media (prefers-color-scheme: dark) {
	html {
		background-image: none;
	}
	body {
		box-shadow: none;
		background: #041C32;
		color: LightGrey;
	}
	h2, h3, h4, h5, h6 {
		color: #ECB365;
	}
	a {
		color: #ECB365;
	}
	a:visited {
		color: #B3541E
	}
	code {
		color: springgreen;
	}
	pre code {
		background: black;
	}
	
	#taglist a {
		background: rgba(255, 255, 255, 0.15);
	}
}
